body {
    background-color: green;
    
    font-size: 28px;
    
}

p {
    color: black;
    font-size: 21px;
}

h1{
    color: black;
    font-size: 77px;
}

.top-section{
    
    width: 800;
    height: 200;
}

ul { 
    border: 2px solid black; 
width: 400px;
}
    
.ol2{
    border: 2px solid black; 
    width: 400px;
    }
 
    
h2{
    color: orange;
}

.ol1{
    
    color: black;
    background-color: greenyellow;
    width: 450px;
}



.bottom-section{

    
    width: 500px;
    height: 200px;
}


span {
    font-size: 37px;
    color: black;
    text-emphasis: 15;
}